{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->

    <!-- JavaScript Bundle with Popper -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js"></script>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.maateen.me/kalpurush/font.css" rel="stylesheet">

    <script src="{% static 'js/bcmath-min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/pdf417-min.js'%}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/pkoretic/pdf417-generator@master/lib/libbcmath.js"
        type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/pkoretic/pdf417-generator@master/lib/bcmath.js"
        type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/pkoretic/pdf417-generator@master/lib/pdf417.js"
        type="text/javascript"></script>


    {% tailwind_css %}
    <h1></h1>
    <script>

    </script>
</head>


<body class="bg-gray-50" onload="generate('{{data.barcode}}')">
    <!-- {{data}} -->
    {% for message in messages %}
    {% if message.tags == "success" %}
    <div class="message bg-green-500 m-3 rounded-lg p-1">
        {{ message }}
        <a href="#" class="del-msg">&times;</a>
    </div>
    {% elif message.tags == "error" %}
    <div class="message bg-red-500 m-3 rounded-lg p-1">
        {{ message }}
        <a href="#" class="del-msg">&times;</a>
    </div>
    {% endif %}
    {% endfor %}
    <h1
        class="text-xl sm:text-4xl text-green-800 sm:bg-white sm:p-5 p-2 bg-gray-200 sticky top-0 z-10 text-center font-bold">
        Upload Your PDF file here
    </h1>
    <!-- error msg yahan ayga -->
    <div>

    </div>
    <form action="{% url 'index' %}" class="sm:mt-5 mt-1" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="bg-white m-2 rounded-md sm:flex p-3 sm:gap-x-5">
            <input type="file" name="pdf_file" value="pdf_value"
                class="bg-gray-200 py-1 px-5 sm:w-3/4 w-full cursor-pointer rounded-md">
            <button
                class="bg-green-700 px-12 mt-1 py-1 rounded-md text-xl sm:w-3/12 w-full items-center gap-x-5 flex text-center text-gray-200 hover:bg-green-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 text-center w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
                </svg>
                <span class="text-center">Generate</span>
            </button>
        </div>
    </form>

    <div class="flex flex-col">
        <!-- output -->
        <!-- Print button -->
        {% if data %}
        <div class="mr-10 mb-1">
            <button class="float-right border-2 border-blue-800 rounded-md p-1" onclick="printCertificate()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 text-blue-800 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
                </svg>
            </button>
        </div>

        <img src="" alt="">

        <div class="sm:flex grid my-2 w-full border border-dashed border-slate-600" id="certificate">
            <!-- left -->
            <div class="flex w-[420px] m-1">
                <div class="flex items-center justify-content-center w-full">
                    <img src="{% static 'images/left-side.jpg' %}" class="" alt="">
                </div>

                <div class="flex z-10 absolute p-1 pt-20">
                    <div class="pl-2">
                        <img src="{% static 'images/0.png' %}" class="w-24 h-28 pr-3 pt-2" alt="">
                        <img src="{% static 'images/1.png' %}" class="w-24 h-12 pr-3 pt-1" alt="">
                    </div>
                </div>

                <div class="flex z-10 absolute pl-36 pt-20">
                    <div class="pt-1">
                        <div class="ml-3 pt-0.5 font-[700] text-[17px]" style="font-family: 'Kalpurush', Arial, sans-serif !important;">{{data.NameB}}</div>
                        <div class="ml-3 text-[15px] font-[600]">{{data.NameE}}</div>
                        <div class="ml-3 text-[15px] pt-2 font-[500]" style="font-family: 'Kalpurush', Arial, sans-serif !important;">{{data.FatherName}}</div>
                        <div class="ml-3 text-[15px] pt-2 font-[500]" style="font-family: 'Kalpurush', Arial, sans-serif !important;">{{data.MotherName}}</div>
                        <div class="ml-16 text-[16px] text-red-600 font-[600]">{{data.DOB}}</div>
                        <div class="ml-5 text-xl text-red-600 font-[700]">{{data.NationalID}}</div>
                    </div>
                </div>
            </div>

            <!-- <div class="bg-white border-2 sm:m-3 m-1 w-[400px] border-slate-900">
                <div class="flex border-b-2 border-gray-700 pb-2">
                    <div class="m-1">
                        <img src="{% static 'images/download.png' %}" class="h-12 w-12 m-1" alt="">
                    </div>
                    <div class="flex flex-col ml-1">
                        <span class="text-[17px] text-center font-[600] font-[kalpurush]">গণপ্রজাতন্ত্রী বাংলাদেশ
                            সরকার</span>
                        <span class="text-green-600 text-[13px] font-semibold">Government of the People's Republic of
                            Bangladesh</span>
                        <span class="flex">
                            <p class="text-red-600 text-[13px] font-semibold ml-5 uppercase">National ID Card </p>
                            <p class="text-[13px] font-semibold ml-2">/ জাতীয় পরিচয় পত্র</p>
                        </span>
                    </div>
                </div>

                <div class="flex w-full h-40">
                    <div class="flex items-center justify-content-center w-full">
                        <img src="{% static 'images/left-side.jpg' %}" class="h-28 ml-32 mb-3 w-28" alt="">
                    </div>

                    <div class="flex z-10 absolute">

                        <div class="m-1">

                            <img src="{% static 'images/0.png' %}" class="w-24 h-24 mx-1 my-1" alt="">
                            <img src="{% static 'images/1.png' %}" class="w-24 h-12 m-1 mt-2" alt="">
                        </div>

                        <div class="space-y-1">
                            <p class="">
                                <span class="ml-4 text-[15px] font-[600]">নাম:</span>
                                <span class="ml-3 text-[15px] font-[600]">{{data.NameBangla}}</span>
                            </p>
                            <p>
                                <span class="text-[15px] font-[600]">Name:</span>
                                <span class="ml-3 text-[15px] font-[600]">{{data.NameEnglish}}</span>
                            </p>
                            <p>
                                <span class="ml-3 text-[15px] font-[500]">পিতা:</span>
                                <span class="ml-3 text-[15px] font-[500]">{{data.FatherName}}</span>
                            </p>
                            <p class="">
                                <span class="ml-3 text-[15px] font-[500]">মাতা:</span>
                                <span class="ml-3 text-[15px] font-[500]">{{data.MotherName}}</span>
                            </p>
                            <p>
                                <span class="ml-2 text-[15px] font-[600]">Date of Birth:</span>
                                <span class="ml-3 text-[15px] text-red-600 font-[600]">{{data.DOB}}</span>
                            </p>
                            <p>
                                <span class="ml-3 text-[17px] font-semibold">ID NO:</span>
                                <span class="ml-3 text-2xl text-red-600 font-semibold mt-2">{{data.NationalID}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- right -->
            <div class="bg-white border-2 m-1 w-[420px] border-slate-900">
                <div class="border-b-2 border-slate-700"  style="font-family: 'Kalpurush', Arial, sans-serif !important;">
                    <p class="font-[600] text-md text-center leading-loose text-[13px]">
                        এই কার্ডটি গণপ্রজাতন্ত্রী
                        বাংলাদেশ সরকারের সম্পত্তি। কার্ডটি ব্যবহারকারী ব্যতীত অন্য কোথাও পাওয়া গেলে নিকটস্থ পোস্ট অফিসে
                        জমা দেবার জন্য অনুরোধ করা হলো।
                    </p>
                </div>
                <div class="border-b-2 relative border-slate-900 h-20">
                    <div class="">
                        {% if data.VoterAt == "present" %}
                    <p class="text-left pl-2" style="font-family: 'Kalpurush', Arial, sans-serif !important;">
                        <span class="font-[500] text-md text-[15px]">ঠিকানা:</span>
                        <!-- <span class="font-[500] text-md text-[15px]">বাসা/হোল্ডিং:</span> -->
                        {% if data.Present.HH != "" %}
                        <span class="font-[500] text-md text-[15px]">{{data.Present.HH }},</span>
                        {% endif %}
                        {% if data.Present.AVR != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">অতিরিক্ত গ্রাম/রাস্তা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.AVR}},</span>
                        {% endif %}
                        {% if data.Present.VR != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">গ্রাম/রাস্তা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.VR}},</span>
                        {% endif %}
                        {% if data.Present.MM != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">মৌজা/মহোল্লা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.MM}},</span>
                        {% endif %}
                        {% if data.Present.AMM != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">অতিরিক্ত মৌজা/মহোল্লা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.AMM}},</span>
                        {% endif %}
                        {% if data.Present.PostOffice != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">ডাকঘর:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.PostOffice}},</span>
                        {% endif %}
                        {% if data.Present.PostCode != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">পোস্ট অফিসের নাম্বার:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.PostCode}},</span>
                        {% endif %}
                        {% if data.Present.CCOM != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">সিটি কর্পোরেশন:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.CCOM}},</span>
                        {% endif %}
                        {% if data.Present.district != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">জেলা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.district}},</span>
                        {% endif %}
                        {% if data.Present.division != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">বিভাগ:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Present.division}},</span>
                        {% endif %}
                    </p>
                    {% else %}
                    <p class="text-left pl-2" style="font-family: 'Kalpurush', Arial, sans-serif !important;">
                        <span class="font-[500] text-md text-[15px]">ঠিকানা:</span>
                        <!-- <span class="font-[500] text-md text-[15px]">বাসা/হোল্ডিং:</span> -->
                        {% if data.Permanent.HH != "" %}
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.HH }},</span>
                        {% endif %}
                        {% if data.Permanent.AVR != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">অতিরিক্ত গ্রাম/রাস্তা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.AVR}},</span>
                        {% endif %}
                        {% if data.Permanent.VR != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">গ্রাম/রাস্তা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.VR}},</span>
                        {% endif %}
                        {% if data.Permanent.MM != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">মৌজা/মহোল্লা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.MM}},</span>
                        {% endif %}
                        {% if data.Permanent.AMM != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">অতিরিক্ত মৌজা/মহোল্লা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.AMM}},</span>
                        {% endif %}
                        {% if data.Permanent.PostOffice != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">ডাকঘর:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.PostOffice}},</span>
                        {% endif %}
                        {% if data.Permanent.PostCode != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">পোস্ট অফিসের নাম্বার:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.PostCode}},</span>
                        {% endif %}
                        {% if data.Permanent.CCOM != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">সিটি কর্পোরেশন:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.CCOM}},</span>
                        {% endif %}
                        {% if data.Permanent.district != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">জেলা:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.district}},</span>
                        {% endif %}
                        {% if data.Permanent.division != "" %}
                        <!-- <span class="font-[500] text-md text-[15px]">বিভাগ:</span> -->
                        <span class="font-[500] text-md text-[15px]">{{data.Permanent.division}},</span>
                        {% endif %}
                    </p>
                    {% endif %}
                    </div>

                    <div class="mt-8 absolute bottom-0 left-0">
                        <div class="flex justify-between w-full">
                            <div class="">
                                <span class="text-[14px] font-[500] ml-1"  style="font-family: 'Kalpurush', Arial, sans-serif !important;">রক্তের গ্রুপ /</span>
                                <span class="text-[14px] font-[500] ">Blood Group: </span>
                                <span class="text-red-600 font-semibold ml-1 text-[14px]">{{data.BloodGroup}}</span>
                            </div>
                            <div class="ml-3">
                                <span class="bg-black text-white justify-end ml-48 text-xs px-1 p-0.5"  style="font-family: 'Kalpurush', Arial, sans-serif !important;">মুদ্রণ:  ০১</span>
                            </div>
                        </div>

                    </div>
                            
                </div>
                <div class="mt-2">
                    <img src="{% static 'images/signature.png' %}" class="h-10 w-24 ml-10" alt="">
                    <p class="pl-3 text-[13px] font-[600]"><span>প্রদানকারী কর্তৃপক্ষের স্বাক্ষর</span>
                        <span class="ml-7">প্রদানের তারিখ:</span>
                        <span class="ml-3">২২/০৭/২০২২</span>
                    </p>
                </div>
                <img style="height:3rem;" class="w-full mt-2"  src="{% static 'images/barcode.jpg' %}"  />
            </div>
        </div>
        {% endif %}
    </div>

    <!--  -->
    <script>
        $(document).ready(function () {
            // messages timeout for 10 sec 
            setTimeout(function () {
                $('.message').fadeOut('slow');
            }, 1000); // <-- time in milliseconds, 1000 =  1 sec

            // delete message
            $('.del-msg').live('click', function () {
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
        function generate(barcode) {

            // var textToEncode = barcode;
            // console.log(textToEncode);
            // var canvas = document.createElement('canvas');
            // PDF417.aspectRatio = 1;
            // PDF417.draw(textToEncode, canvas)
            // let img = document.getElementById('barcode');
            // // img.src = canvas.toDataURL('image/png');
            // img.src = 'data:image/png;base64,' + barcode;

        };
        function printCertificate() {
            const printContents = document.getElementById('certificate').innerHTML;
            const originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            setTimeout(function () {
                window.print();
                document.body.innerHTML = originalContents;
            }, 1000);
            // window.print();
            // document.body.in?nerHTML = originalContents;
        }
    </script>
</body>


</html>



<!-- <pin>20023019457000255</pin>
<name>MD. ATIKUL ISLAM</name>
<DOB>06 May 2002</DOB>
<FP></FP>
<F>Right Index</F>
<TYPE>A</TYPE>
<V>2.0</V>
<ds>302d02147e072a6e7a9ab9d4333cf0a907b8c479e25ff67502150086df44f9a4a1ea7992fb4dc727fbb9399ea337b8</ds> -->


<!-- Barcode mn 3 chizen ayega 
Ek hn pin jo 2nd column mn rhega
Name 11 number column mn
Date of birth 12 nmbr column mn -->