{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
    <!-- JavaScript Bundle with Popper -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <h1></h1>
</head>

<body>
    <!-- <nav class="navbar navbar-dark bg-primary" style="font-size: 40px; color: aquamarine; font-family: 'Mukta', sans-serif;">
        <a href="#" class="navbar-brand">Simple App</a>
    </nav> -->
    {{data}}
    {% for message in messages %}
    {% if message.tags == "success" %}
    <div class="alert alert-success">
        {{ message }}
        <a href="#" class="del-msg">&times;</a>
    </div>
    {% elif message.tags == "error" %}
    <div class="alert alert-danger">
        {{ message }}
        <a href="#" class="del-msg">&times;</a>
    </div>
    {% endif %}
    {% endfor %}
    <h3 id="msg" style="text-align: center;">

    </h3>

    <div class="container-2xl flex-col">
        <div class="row">
            <div class="p-2">
                <div class="form-container">
                    <form class="form-horizontal" method="post" action="{% url 'index' %}"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="title">Uploading PDF</h3>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Choose a file">
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control-file" aria-describedby="basic-addon1"
                                name="pdf_file">
                        </div>
                        <div>
                            <button class="btn upload" name="upload_button" value="upload_button">Generate</button>
                        </div>
                        <div class="form-group">
                            <button class="generate" name="generate_button" value="generate_button"
                                style="border:0;"></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-md-10">
                <h3 class="text-center" style="color: green;">Output</h3>
            </div>
            <div class="col-md-2" id="editor">
                <button class="btn btn-primary btn-sm text-white" id="cmd">
                    <svg xmlns="http://www.w3.org/2000/svg" height="34px" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="row m-3 gap-0 d-flex justify-content-center" id="content">
            <!-- Left -->
            <div class="col-sm-5">
                <div class="card h-100 border-2 border border-dark rounded-0">
                    <div class="card-header">
                        <div class="image1"></div>
                        <div style="text-align: center">
                            <p style="text-align: center;"><strong>গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</strong></p>
                            <p style="color: rgb(0, 98, 0); text-align: center;"><strong>Government of
                                    the
                                    People's Republic of Bangladesh</strong></p>
                            <p style="color: red; text-align: left; margin:0;display:inline;"><strong>
                                    National
                                    ID Card</strong></p>
                            <p style="margin:0;display:inline; text-align:right;"><strong> / জাতীয় পরিচয় পত্র</strong>
                            </p>
                        </div>
                    </div>
                    <div class="card-body border-2 border-top border-dark rounded-0">
                        <div class="row g-1">
                            <!-- <div class="col-md-4 p-4">
                                <img src="{% static 'images/0.png' %}" class="img-fluid rounded-start">
                            </div> -->
                            {% if data.userImg %}
                            <div class="col-md-4 p-4">
                                <img src="{% static 'images/0.png' %}" class="img-fluid rounded-start">
                            </div>
                            {% else %}
                            <div class="col-md-4 p-4">
                                <img src="{% static 'images/log.png' %}" class="img-fluid rounded-start">
                            </div>
                            {% endif %}
                            <div class="col-md-8">
                                <div class="">
                                    <p><strong>নাম:</strong> {{data.NameBangla}}</p>
                                    <p><strong>Name: </strong> {{data.NameEnglish}}</p>
                                    <p><strong>পিতা: </strong> {{data.FatherName}}</p>
                                    <p><strong>মাতা: </strong> {{data.MotherName}}</p>
                                    <p><strong>Date of Birth: </strong> <span class="text-danger"> {{data.DOB}}</span>
                                    </p>
                                    <p><strong>ID NO: <span class="text-danger"> {{data.NationalID}}</span></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right -->
            <div class="col-sm-5">
                <div class="card h-100 border-2 border border-dark rounded-0">
                    <div class="card-header h-25">
                        <p>এই কার্ডটি গণপ্রজাতন্ত্রী বাংলাদেশ সরকারের সম্পত্তি। কার্ডটি ব্যবহারকারী ব্যতীত অন্য কোথাও
                            পাওয়া গেলে নিকটস্থ পোস্ট অফিসে জমা দেবার জন্য অনুরোধ করা হলো।</p>
                    </div>
                    <div class="card-body h-25 border-2 border-top border-dark rounded-0">

                        <div class="row">
                            <div class="col-md-10 ">
                                <!-- 1 address
                                2 Home
                                3 Village
                                4 post -->
                                <p>ঠিকানা : <span>{{data.Village}}</span> বাসা/হোল্ডিং: <span>{{data.Home}}</span> গ্রাম/রাস্তা: <span>{{data.Village}}</span> ডাকঘর: <span>{{data.PostOffice}}</span></p>
                                <p class="pb-2"> রক্তের গ্রুপ / Blood Group: জন্মস্থান: <span>{{data.BirthPlace}}</span></p>
                            </div>
                            <div class="col-md-2 float-right mt-5">
                                <p class="bg-black text-white text-end"> মূ􀄙ণ: ০১</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer h-50 border-2 border-top border-dark rounded-0">
                        <div class="">
                            {% if data.userSign %}
                            <div class="pt-3">
                                <img src="{% static 'images/1.png' %}" height="52px" width="150px">
                            </div>
                            {% else %}
                            <div class="pt-3">
                                <img src="{% static 'images/log.png' %}" height="52px">
                            </div>
                            {% endif %}
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <p>প্রদানকারী কর্তৃপক্ষের স্বাক্ষর</p>
                                </div>
                                <div class="col-md-6">
                                    <p>প্রদানের তারিখ: ২২/০৭/২০২২</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form>
        <div class="form-bg">
            <div class="container">


            </div>
        </div>
    </form>
</body>
<script>
    $(document).ready(function () {
        // messages timeout for 10 sec 
        setTimeout(function () {
            $('.message').fadeOut('slow');
        }, 1000); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').live('click', function () {
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>

<script>
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };
    
    $('#cmd').click(function () {
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
                'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
    </script>
</html>